.form{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    min-height: 35px;
    background-color: #fff;
    border: 1px solid #8729ff;
    border-radius: 18px;
}

.input {
    padding: 8px 15px;
    width: calc(100% - 35px);
    height: 36px;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 18px;
    background: transparent;
    line-height: 20px;
}

.input_btn {
    border: none;
    width: 23px;
    margin-right: 10px;
    background: transparent;
    font-size: 12px;
    letter-spacing: 1px;
    color: gray;
}

.input_btn:enabled {
    border: none;
    background: transparent;
    font-size: 12px;
    letter-spacing: 1px;
    color: black;
}

.input::placeholder {
    font-size: 13px;
    letter-spacing: -0.5px;
}