.container {
    position: relative;
    display: flex;
    width: 300px;
    height: 40px;
    align-items: center;
    padding: 0 10px;
    background-color: white;
    border: 1px solid #e9ecef;
    border-radius: 0.32rem;
}

.container:focus-within {
    border: 1px solid #8729ff;
}

.input {
    width: 100%;
    border: none;
    outline : none;
    padding: 0 5px;
    font-size: 15px;
    font-weight: 500;
    background-color: transparent;
    color: black;
}

.input::placeholder {
    color: #cbcbcb;
    font-weight: 400;
}

.form_box {
    width: 100%;
}

.search_box {
    position: absolute;
    overflow: auto;
    top: 45px;
    left: 0;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    border-radius: 0.2rem;
    padding-top: 5px;
    z-index: 100;
    background-color: white;
}

.hide {
    display: none;
}

.tag_search_box {
    display: flex;
    margin-bottom: 3px;
}

.tag_search_txt_box {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    padding: 5px 15px;
}

.tag_search_txt_box:hover{
    background-color: #e7e7e7;
}

.tag_search_txt {
    display: block;
    max-width: 250px;
    font-weight: 500;
    font-size: 14px;
}

.tag_search_total_txt {
    color: gray;
    font-size: 13px;
}

.recent_search_box {
    padding: 10px 15px;
}

.recent_tag_box {
    display: flex;
    margin-bottom: 5px;
}

.recent_tag_title_txt {
    display: inline-block;
    margin-bottom: 5px;
}

.recent_tag_txt {
    max-width: 240px;
    font-weight: 500;
    font-size: 14px;
    color: gray;
    cursor: pointer;
}

.recent_tag_txt:hover{
    color: black;
}

.recent_tag_delete_btn {
    margin-left: auto;
    color: gray;
    font-size: 12px;
    background-color: white;
}

.recent_tag_delete_btn:hover {
    color: black;
}

.user_search_box {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px 15px;
    cursor: pointer;
}

.user_profile_img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
}

.user_search_txt {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.5px;
}

.user_search_box:hover {
    background-color: #e7e7e7;
}

.recent_user_search_box {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
}