.bottom_menu_box {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-top: 1px solid #dedee0;
    display: none;
    justify-content: space-around;
    align-items: center;
}

.icon_active {
    color: black;
    cursor: pointer;
}

.icon_inactive {
    color: #bebebe;
    cursor: pointer;
}

@media screen and (max-width: 1024px){
     .bottom_menu_box {
         display: flex;
     }
}