.container {
    width: 1240px;
    height: 200px;
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.shop_name_title_txt {
    display: inline-block;
    position: absolute;
    color: #333;
    font-size: 32px;
    font-weight: 700;
    left: 50%;
    transform: translateX(-50%);
}

.title_menu_box {
    margin-left: auto;
}

.bookmark_box {
    display: flex;
    height: 35px;
    padding: 0 6px;
    align-items: center;
    color: white;
    background-color: #81B147;
    user-select: none;
    cursor: pointer;
}

.bookmark_txt {
    display: inline-block;
    font-size: 13px;
}

.review_box {
    width: 70px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    background-color: #eff0f2;
    border-radius: 30px;
    height: 25px;
    padding: 0 10px;
}

.review_txt {
    color: #555;
    display: inline-block;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
}

.review_count_txt {
    display: inline-block;
    margin-left: 3px;
    font-size: 14px;
    font-weight: 500;
    height: 25px;
    line-height: 25px;
}