.container{
    margin: 100px auto;
    margin-top: 100px;
    display: flex;
    width:80%;
    padding: 10px;
    flex-direction: column;
    height: 100px;;
}

.view_wrap{
    border-top: 2px solid #000;
    width: 100%;
}

.board_view{
    width:100%;
    border-top: 2px solid #ddd;
}

.title{
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 1.4rem;
}

.info{
    padding: 15px;
    border-bottom: 1px solid #999;
    position: relative;
}

.text_box{
    margin-left :10px;
    font-size:1.0rem;
    opacity:0.8;
}

.header_box{
    margin-left:10px;
    font-weight: bold;
}

.text_box:after{ /* 가상선 생성*/
    margin-left:10px;
    content:"|";
    width:1px;
    height: 13px;
    color:#ddd;
}

.content{
    padding: 15px;
    line-height:150%;
    border-bottom: 2px solid #000;
    font-size:1.0rem;
}

.board_img{
    display: block;
    max-width: 70%;
    max-height: 70%;
    margin-top:10px
}

.board_img:last-child{
    margin-bottom:10px;
}

.block{
    display:none;
}

.view_top{
    border-bottom: 1px solid #000;
}

.bt_wrap{
    width:1000px;
    margin:100px auto;
    text-align: center;
    font-size:0;
}

.list_button{
    min-width: 80px;
    padding:10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size:1.0rem;
    margin-left:10px;
}

.modify_button{
    background-color: #8b00ff;
    color:#fff44f;
}

.delete_btn{
    min-width: 80px;
    padding:10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size:1.0rem;
    margin-left:10px;
}

.comment_wrap{
    margin-top : 10px;
}

.like_wrap{
    display: flex;
    font-size: 1.0rem;
}

.img_wrap{
    position: relative;
    white-space: nowrap;
    font-size:0;
    overflow-x: scroll;
}

.img_box{
    display: inline-block;
    width: auto; height: auto;
    max-height: 500px;
    max-width: 300px;
    margin-top:20px;
    margin-left : 10px;
    cursor: pointer;
}

.modal_box{
    margin: 200px auto;
    border: none;
}
