.container {
    display: inline-block;
    position: absolute;
    top: 40px;
    right: -50px;
    width: 300px;
    height: auto;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #d0d7de;
    padding: 10px;
}
