.container{
    display: flex;
    margin-top: 20px;
    padding: 10px;
    justify-content: center;

}

.num_on{
    border: 1px solid #ddd;
    width: 32px;
    height: 32px;
    font-size: 0.8rem;
    line-height: 20px;
    font-weight: bold;
    color:#8b00ff;
    background-color: #fff;
}

.num{
    border: 1px solid #ddd;
    width: 32px;
    height: 32px;
    font-size: 0.8rem;
    line-height: 20px;
    font-weight: bold;
    color:#000;
    background-color: #fff;
}