.container{
    display: flex;
    justify-content: space-between;
    border : 1px solid #ddd;
    padding: 10px;
    align-items: center;
    height: 30px;
}

.container:hover{
    background-color: #8a8a8a;
}

.search_payload{
    font-size: 12px;
    cursor : pointer;
}

.delete_btn{
    color: #ddd;
    font-size: 12px;
}