.container{
    display: flex;
    padding: 10px;
    align-items: center;
    height: 40px;
    background-color: #fff;
    cursor: pointer;
}

.container:hover{
    background-color: #eff0f2;
}

.search_payload{
    display: inline-block;
    flex: 1;
    font-size: 13px;
    font-weight: 500;
    margin-right: 10px;
}

.delete_btn{
    margin-left: auto;
    color: #7c7c7c;
    font-size: 12px;
}
