.container{

}

.visit_wrap{
    /*margin-top:10px;*/
    /*padding: 20px 100px;*/
    align-items: center;
    margin-bottom: 50px;
}

.visit_txt{
    font-size:20px;
    font-weight: bold;
}

.view_box{
    min-width: 789px;
    height: 400px;
    background-color: #fff;
}

.box_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}