.container{
    margin: 0 100px;
}

.statistic_wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.statistic_header{
    display: flex;
    line-height: 34px;
    justify-content: center;
    min-width: 600px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

.statistic_menu{
    width: 200px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;

}

.statistic_txt{
    font-size: 18px;
    height: 34px;
}

.statistic_txt_clicked{
    font-size: 18px;
    height: 34px;
    color: #3CD95E;
    border-bottom: 1px solid #3CD95E;
}

.statistic_menu:hover{
    background-color: #e5e5e5;
}
