.container {
    display: flex;
    width: auto;
    max-width: 400px;
}

.gcti_txt {
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-right: 5px;
}

.gcti_sub_txt {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #292929;
    font-weight: 500;
}
