.container {
    display: flex;
    flex-wrap: wrap;
}

.feed_row_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.feed_box {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.img {
    object-fit: cover;
}

@media screen and (max-width: 1024px){
    .feed_row_box {
        margin-bottom: 0;
    }
    .feed_box {
        width: calc(100% / 3);
    }
}