.modal {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.2);
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    cursor: auto;
}

.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    border-radius: 12px;
    background-color: white;
    border: 1px solid #d0d7de;
}

.menu_btn {
    flex: 1;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: black;
}

.menu_btn:nth-child(1) {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    color: red;
}

.menu_btn:nth-last-child(1) {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.menu_btn:hover {
    background-color: #efefef;
}

.menu_btn ~ * {
    border-top: 1px solid #bababa;
}

.divider {
    width: 100%;
    height: 1px;
    background: gray;
}
