.container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    top: 0; right: 0; left: 0; bottom: 0;
    background-color: rgba(0,0,0, 0.5);
}

.modal_box {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 150px;
    background-color: #fff;
    border-radius: 8px;
}

.permission_txt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 14px;
    font-weight: 500;
    padding: 0 15px;
}
