.container{
    position: fixed;
    left : 0;
    width: 15%;
    height: 100%;
    margin-top: 20px;
    padding: 10px
}

.category_style{
    display: block;
    width: 100%;
    cursor:pointer;
    padding : 3px;
    font-weight: bold;
}

.box_wrap{
    display: block;
    padding:10px;
    left: 60px;
    width: 100%;
    margin-top:10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    animation: fadeIn linear 1s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

.box_wrap_hidden{
    display: none;
}

.board_menu_default{
    width: 100%;
    padding:5px;
    text-align: center;
    font-size: 0.9rem;
    cursor: pointer;
}

.board_menu_clicked{
    width: 100%;
    padding:5px;
    text-align: center;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: bold;
    color:#8729ff;
    text-decoration: 1px solid underline;
}

.board_category{
    border-bottom: 2px solid #ddd;
}

.menu_category{
    margin-top : 30px;
    padding: 0;
}

.main_menu{
    display: block;
    cursor : pointer;
}

.home_menu{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}