.modal {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.2);
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}

.modal_close {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    animation: slideOut 0.1s;
    animation-fill-mode: forwards;
}

.feedModal_box {
    position: relative;
    background-color: #fff;
    width: 100%;
    max-width: 1080px;
}

.header {
    display: none;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 10;
    height: 45px;
    padding: 10px 15px;
    border-bottom: 1px solid #bababa;
}

.back_icon {
    cursor: pointer;
}

.title_txt {
    display: inline-block;
    position: absolute;
    height: 24px;
    line-height: 24px;
    font-weight: 500;
    font-size: 17px;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes slideIn {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

@keyframes slideOut {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

@media screen and (max-width: 1080px){
    .modal {
        align-items: start;
    }
    .feedModal_box {
        max-width: 600px;
        height: 100vmax;
        display: flex;
        flex-direction: column;
    }
    .header {
        display: flex;
        max-width: 600px;
    }
}

@media screen and (max-width: 768px){
    .modal {
        width: 100%;
        animation: slideIn 0.3s;
        animation-fill-mode: none;
    }
}

@media screen and (max-width: 600px){
    .modal {
        background-color: rgba(255,255,255, 1);
    }
}
