.container {
    width: 100px;
    height: 100px;
    margin-right: 5px;
    animation: fadeIn 5s;
    animation-fill-mode: forwards;
}

.img {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 8px;
    object-fit: cover;
}
