.container {
    position: absolute;
    top: 0;
    left: 260px;
    width: 320px;
    height: 250px;
    padding: 10px;
    border-radius: 12px;
    background-color: #fff;
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
}

@keyframes fadeOut {
    from {
        width: 0px;
    }
    to {
    }
}

.title_box {
    display: flex;
    height: 25px;
    margin-bottom: 5px;
}

.title_txt {
    line-height: 22px;
    font-size: 15px;
    font-weight: 500;
    color: black;
}

.more_txt {
    line-height: 25px;
    margin-left: auto;
    font-size: 12px;
    color: black;
    cursor: pointer;
}