.container {
    width: 300px;
    animation: fadeIn 5s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.item_box {
    display: flex;
    width: 300px;
    height: 50px;
    align-items: center;
}

.feed_img {
    width: 30px;
    height: 30px;
    border-radius: 30%;
    margin-right: 5px;
}

.user_txt {
    font-size: 14px;
    font-weight: 500;
}

.activity_txt {
    font-size: 14px;
}

.activity_icon {
    margin-left: auto;
}