.container{
    width: 100%;
    background-color: #fff;
    margin-top: 20px;

}

.item_wrap{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin : auto;
    padding:10px;
    justify-content: space-evenly;
}
