.container{
    margin : 100px;
    text-align: center;
    min-width: 960px;
    padding: 0 160px;
    max-width: 1200px;
    /*background-color: #fffdef;*/
}

.menu_title{
    font-size:20px;
    margin-bottom:10px;
    font-weight: bold;
    cursor: pointer;
}

.line{
    border: 1px solid #ddd;
}

.notice_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: 1px solid #000;
    margin-top:10px;
    padding: 10px 40px;
    background-color: #fffdef;
    cursor:pointer;
}

.notice_menu{
    position: absolute;
    top:8px;
    right:10px;
}

.floating_btn{
    padding:10px 0px;
    text-align: right;
}

.notice_insert{
    background-color: #ebecef;
    padding: 3px;
    border-radius: 5px;
}

.page_wrap{
    display: flex;
    justify-content: space-between;
    margin-top :10px;
}
