.container {
    border-bottom: 1px solid #dadada;
    padding-top: 35px;
    padding-bottom: 45px;
}

.user_txt {
    display: inline-block;
    width: 100px;
    letter-spacing: -1.0px;
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
}

.purchase_store_txt {
    font-size: 12px;
    font-weight: 500;
    color: #5757ff;
    letter-spacing: -0.5px;
}

.review_box {
    display: flex;
    align-items: center;
}

.review_txt {
    display: inline-block;
    color: yellowgreen;
}

.date_txt {
    display: inline-block;
    padding-top: 6px;
    font-size: 12px;
    margin-left: 5px;
}

.comment_box {
    margin-top: 10px;
    font-size: 13px;
    letter-spacing: -0.5px;
}
