.container {
    position: fixed;
    right: 15px;
    bottom: 120px;
    width: 60px;
    border-radius: 50px;
    z-index: 100;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.menu_box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu_list {

}

.menu_list + .menu_list {
    border-top: 1px solid #ccc;
}

.menu_txt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-size: 14px;
    font-weight: 500;
    background-color: black;
    color: white;
    letter-spacing: -1.0px;
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.menu_list:nth-child(1) > .menu_txt {
    border-radius: 50px 50px 0 0;
}

.menu_list:nth-last-child(1) > .menu_txt {
    border-radius: 0 0 50px 50px;
}

@media screen and (max-width: 768px) {
    .container {
        display: none;
    }
}