.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: -30px;
    width: 400px;
    height: 300px;
    overflow: auto;
    background-color: white;
    border-radius: 8px;
    /*border: 1px solid #d0d7de;*/
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
}

.container_close {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: -30px;
    width: 400px;
    height: 300px;
    overflow: auto;
    background-color: white;
    border-radius: 8px;
    /*border: 1px solid #d0d7de;*/
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
    animation: slideOut 0.1s;
    animation-fill-mode: forwards;
}

.title_box {
    display: flex;
    padding: 10px 15px;
    height: 50px;
    align-items: center;
}

.back_icon {
    display: none;
    margin-right: 10px;
    cursor: pointer;
}

.title_txt {
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    margin-right: 10px;
}

.allRead_btn {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.5px;
    margin-left: auto;
}

.item_box {
    height: auto;
}

.activity_txt {
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 35px;
    font-size: 14px;
    font-weight: 500;
    border-top: 1px solid #c8bbbb;
    margin-bottom: 10px;
    padding: 0 15px;
}

@keyframes slideIn {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

@keyframes slideOut {
    from {
    }
    to {
        left: 100%;
    }
}

@media screen and (max-width: 768px){
    .back_icon {
        display: block;
    }
    .container {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border-radius: 0;
        box-shadow: none;
        z-index: 2;
        animation: slideIn 0.5s;
        animation-fill-mode: none;
    }
    .container_close {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border-radius: 0;
        box-shadow: none;
        z-index: 2;
    }
}
