.container {
    position: relative;
    max-width: 610px;
    height: auto;
}

.titleView_txt {
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
    user-select: none;
    font-size: 15px;
    font-weight: 600;
}

.card_container {
    width: 100%;
    height: auto;
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
}

.card_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.notFound_txt {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.scroll_ref {
    position: absolute;
    bottom: 100px;
}

@media screen and (max-width: 768px){
    .card_box {
        justify-content: space-between;
    }
}

@media screen and (max-width: 480px){
    .card_container {
        padding: 0;
        background-color: transparent;
        box-shadow: none;
    }
    .card_box {
        justify-content: start;
    }
}
