.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_menu_inactive {
    display: flex;
    justify-content: center;
    width: 100%;
    animation: slideOut 1s;
    animation-fill-mode: forwards;
}

.container_menu_active {
    display: flex;
    justify-content: center;
    width: 100%;
    animation: slideIn 1s;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    from {
        margin-left: 0;
    }
    to {
        margin-left: 540px;
    }
}

@keyframes slideOut {
    from {
        margin-left: 540px;
    }
    to {
        margin-left: 0px;
    }
}

@media screen and (max-width: 768px){
    .write_box {
        display: none;
    }
}
