.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_menu_inactive {
    display: flex;
    justify-content: center;
    width: 100%;
    animation: slideOut 1s;
    animation-fill-mode: forwards;
}

.container_menu_active {
    display: flex;
    justify-content: center;
    width: 100%;
    animation: slideIn 1s;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    from {
        margin-left: 0;
    }
    to {
        margin-left: 540px;
    }
}

@keyframes slideOut {
    from {
        margin-left: 540px;
    }
    to {
        margin-left: 0px;
    }
}

.write_box {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #8729ff;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 12px 28px rgba(0,0,0,0.2);
    cursor: pointer;
}

.write_icon {
    color: white;
}
