.container {

}

.item_row {
    display: flex;
    margin-bottom: 20px;
}

.item_box {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.item_box + .item_box {
    margin-left: 50px;
}

.img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.achievements_txt {
    font-size: 15px;
}