.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0;
    overflow-y: auto;
}

.item_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.inform_box {
    display: flex;
    width: 200px;
}

.img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}


.brand_txt {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.item_name_txt {
    display: inline-block;
}

.price_txt {
    width: 82px;
    font-size: 14px;
}

.star_txt {
    width: 80px;
}

.review_btn {
    font-size: 12px;
    color: cornflowerblue;
    cursor: pointer;
    user-select: none;
}