.container {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.container:hover {
}

.img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
}

.shop_info_box {
}

.shop_name_txt {
    width: 100%;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
}

.shop_location_txt {
    width: 100%;
    display: inline-block;
    font-size: 14px;
    color: gray;
}