.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px;
    margin-bottom: 100px;
    background-color: #f6f7fb;
}

.box {
    width: 1240px;
}

.store_list_txt {
    display: inline-block;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -1.0px;
    margin-bottom: 35px;
}

.store_item_container {
    display: flex;
    justify-content: space-between;
}
