.container {
    width: 100%;
    margin-bottom: 100px;
}

.title_txt {
    display: inline-block;
    width: 100%;
    height: 25px;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0 5px;
    letter-spacing: -0.5px;
}

.store_list_txt {
    display: inline-block;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.0px;
    color: #333;
    margin-bottom: 25px;
    border-bottom: 1px solid black;
}

.store_item_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}