.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px;
    margin-bottom: 100px;
    background-color: #f6f7fb;
}

.box {
    width: 100%;
    max-width: 1240px;
}

.review_list_txt {
    display: inline-block;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -1.0px;
    margin-bottom: 15px;
}

.review_item_container {
    display: flex;
    justify-content: space-between;
}

.select_box {
    display: flex;
    margin-bottom: 25px;
}

.select_btn {
    width: 150px;
    height: 35px;
    margin-right: 15px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.5px;
    border: 1px solid #e0e1e3;
    border-radius: 25px;
}

.select_btn:hover {
    color: white;
    background-color: #2196F3;
    border-radius: 25px;
}

.select_btn_active {
    width: 150px;
    height: 35px;
    margin-right: 15px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.5px;
    color: white;
    background-color: #2196F3;
    border-radius: 25px;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 20px 10px;
        margin-bottom: 30px;
    }

    .review_list_txt {
        font-size: 22px;
    }

    .review_item_container {
        flex-direction: column;
    }

    .select_box {
        margin-bottom: 10px;
    }

    .select_btn {
        font-size: 14px;
        width: 80px;
        height: 30px;
    }

    .select_btn_active {
        font-size: 14px;
        width: 80px;
        height: 30px;
    }
}
