.container{
    margin-bottom: 10px;
    margin-top: 30px;
    border-radius:10px;
    border: 1px solid #000;
}

.list_wrap{
    position: relative;
    padding: 5px;
}

.text_wrap{
    position: absolute;
    display: flex;
    padding: 0 5px;
    top: -12px;
    z-index: 1;
    background-color: #f0f2f5;
}

.title_text{
    font-weight: bold;
    color:#ff6969;
    font-size:18px;
}
