.container {

}

.post_box {

}

.title_box {
    display: flex;
    align-items: center;
    height: 40px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 15px;
    letter-spacing: -0.5px;
    font-weight: 500;
    padding: 0 10px;
    color: #4e4e4e;
}

.no_txt {
    display: inline-block;
    text-align: center;
    width: 60px;
}

.subject_txt {
    display: inline-block;
    text-align: center;
    width: 600px;
}

.writer_txt {
    display: inline-block;
    text-align: center;
    width: 80px;
}

.date_txt {
    display: inline-block;
    text-align: center;
    width: 100px;
}

.like_txt {
    display: inline-block;
    text-align: center;
    width: 60px;
}

.visit_txt {
    display: inline-block;
    text-align: center;
    width: 80px;
}

.no_content_txt {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 15px;
    margin-top: 100px;
}

@media screen and (max-width: 768px){
    .title_box {
        display: none;
    }
}