.container{
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 0px;
}

.head_text{
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}

