.list_item{
    width: 100%;
}

.num{
    width:15%;
    font-size: 12px;
    font-weight: bold;
}

.title {
    width:40%;
    font-size : 15px;
}

.top_recommend{
    width:20%;
    font-size:12px;
}

.list_item .recommend{
    width:15%;
}

.menu{
    margin:10px;
}

.list_main{
    width: 100%;
}

.list_menu{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: coral;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    color: white;
    margin-right: 5px;
}

.recommend{
    display:inline-block;
    line-height: 40px;
    justify-content: center;
}

.board_page{
    margin-top:30px;
    text-align: center;
    font-size: 0;
}
