.container{
    display: flex;
    width:100%;
    padding: 10px;
    flex-direction: column;
    line-height: 40px;
    border-bottom: 2px solid #000;
}

.board_item_container{
    display: flex;
    position: relative;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding : 5px;
    align-items: center;
}

.list_top{
    display: flex;
    width:100%;
    border-top: 2px solid #000;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

.top_recommend{
    width:10%;
}

.num{
    width:10%;
    font-size:0.8rem;
    font-weight: bold;
    margin-left:20px;
}

.board_title{
    width:50%;
}

.board_title_text{
    cursor:pointer;
}

.board_id{
    width:12%;
    font-size:0.8rem;
}

.board_date_head{
    width:10%;
    font-size: 0.8em;
    opacity: 1;
    margin-left: 10px
}

.board_date{
    width:10%;
    font-size: 0.8em;
    opacity: 0.3;
    margin-left:10px;
}

.recommend{
    line-height: 40px;
    margin-left: 40px;
    font-size : 0.8rem;
}

.list_main{
    width:100%;
    height: 100%;
}

.list_menu{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: coral;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    color: white;
    margin-right: 5px;
}

.click_num_wrap{
    display: flex;
    padding: 12px;
    height: 40px;
    position: absolute;
    line-height: 20px;
    flex-direction: column;
    right:-35px;
    justify-content: center;
    background-color: #f0f2f5;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.check{
    font-size: 10px;
    width: 100%;
}

.click_cnt{
    font-size: 13px;
    text-align: center;
}


