.container{
    width: 80%;
    margin : auto;
    align-items: center;
    border-bottom: 2px solid #000;
}

.list_top{
    display: flex;
    width:100%;
    border-top: 2px solid #000;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

.num{
    width:10%;
    font-size:0.8rem;
    font-weight: bold;
}

.board_title{
    width:50%;
}

.board_title_text{
    cursor:pointer;
}

.board_id{
    width:12%;
    font-size:0.8rem;
}

.board_date{
    width:10%;
    font-size: 0.6em;
    opacity: 0.3;
}

.recommend{
    line-height: 40px;
    margin-left:20px;
}