.container{
    display: flex;
    top: 0; right: 0; left: 0; bottom:0 ;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0, 0.2);
    position:fixed;
}

.notice_header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}

.box_wrap{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: auto;
    background-color: #eaeaea;;
    align-items: flex-start;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1);
}

.type_wrap{
    display: flex;
    align-items: center;
}

.notice_menu{
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-around;
    align-items: center;
    margin-left:10px;
}

.notice_menu li{
    border: 1px solid #000;
    width: 50px;
    padding:3px;
    font-size: 14px;
    margin-right: 10px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
}


.notice_type{

}

.notice_box{
    display: flex;
    align-items: center;
    margin-top:10px;
}

.title_txt{
    margin-left:10px;
    width: 200px;
    height: 30px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #000;
}

.payload_txt{
    margin-left:10px;
    width:400px;
    height: 300px;
    border-radius: 4px;
    padding:20px 10px;
    border: 1px solid #000;
}

.file_label{
    width: 100%;
    align-items: center;
    margin-top:10px;
    padding:5px;
    background-color: #ddd;
    border-radius: 10px;
}

.file_box{
    display: none;
}