.container {
    width: 100%;
    margin-top: 15px;
}

.comment_total_box {
    display: flex;
    align-items: center;
}

.comment_icon {
    margin-left: 10px;
    margin-right: 2px;
}

.comment_total_txt {
    display: inline-block;
    font-size: 12px;
}

.like_icon {
    margin-right: 1px;
}

.comment_box {

}

.addReply {
    margin-top: 20px;
}
