.container {
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #e0e1e3;
}

.reply_container {
    display: flex;
    position: relative;
    margin-top: 15px;
    width: 100%;
}

.comment_main {
    width: 100%;
}

.info_box {
    display: flex;
    align-items: center;
}

.user_box {
    display: flex;
    align-items: center;
}

.user_img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.menu_icon {
    margin-left: auto;
    cursor: pointer;
}

.writer_content_box {
    margin: 5px 0 10px;
    color: #5757ff;
}

.content_box {
    margin: 5px 0 10px;
}

.tag_user_txt {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    color: black;
}

.content {
    display: block;
    font-size: 14px;
}

.date_txt {
    display: inline-block;
    font-size: 11px;
    opacity: 0.5;
    margin-right: 5px;
}

.like_box {
    display: flex;
    align-items: center;
    color: #ff6969;
    cursor: pointer;
}

.like_icon {
}

.like_txt {
    display: inline-block;
    font-size: 11px;
}

.reply_add_btn {
    font-size: 11px;
}

.arrowIcon {
    margin-right: 10px;
    transform: scaleY(-1);
}

.anonymous_me_txt {
    font-size: 14px;
    color: #2196F3;
}

.anonymous_txt {
    font-size: 14px;
}
