.tag_box {
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #eff0f2;
    position: relative;
}

.tag_input_container {
    height: 150px;
    overflow-y: auto;
    padding: 0 15px;
}

.hashtag_txt {
    font-size: 15px;
}

.tag_item {
    display: inline-block;
    width: auto;
    height: 30px;
    border-radius: 12px;
    line-height: 30px;
    padding: 0 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #8729ff;
    color: white;
    cursor: pointer;
    user-select: none;
    font-size: 15px;
}

.tag_input_box_active{
    display: inline-block;
    width: auto;
    height: 30px;
    border-radius: 12px;
    line-height: 30px;
    padding: 0 10px;
    background-color: #eff0f2;
    color: black;
    font-size: 15px;
}

.tag_input_box_inactive {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.tag_input_inactive {
    width: 150px;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: transparent;
}

.tag_input_active {
    font-size: 15px;
    border: none;
    outline: none;
    background-color: transparent;
}

.tag_input_active:focus::placeholder {
    color: transparent;
}

.hidden {
    display: none;
}

.tag_search_container {
    position: absolute;
    top: 150px;
    width: 100%;
    height: 455px;
    overflow: auto;
    background-color: #efefdf;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: 2;
}

.tag_search_box {
    display: flex;
    margin-bottom: 10px;
    /*background-color: #fff;*/
}

.tag_search_txt_box {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    padding: 5px 15px;
}

.tag_search_txt {
    display: block;
    max-width: 230px;
    font-weight: 500;
    font-size: 15px;
    color: black;
}

.tag_search_total_txt {
    color: #8729ff;
    font-size: 13px;
    font-weight: 500;
}

@media screen and (max-width: 768px){
    .tag_search_container {
        height: calc(100vmax - 145px);
        border-radius: 0;
    }
}