.tag_box {
    position: relative;
    margin-bottom: 10px;
}

.tag_item {
    display: inline-block;
    width: auto;
    height: 30px;
    border-radius: 12px;
    line-height: 30px;
    padding: 0px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #6a8cbe;
    color: white;
    cursor: pointer;
    user-select: none;
}

.tag_input_box_active{
    display: inline-block;
    position: relative;
    width: auto;
    height: 30px;
    border-radius: 12px;
    line-height: 30px;
    padding: 0 10px;
    background-color: #eff0f2;
    color: black;
}

.tag_input_box_inactive {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}

.tag_input_inactive {
    width: 150px;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: transparent;
}

.tag_input_active {
    font-size: 15px;
    border: none;
    outline: none;
    background-color: transparent;
}

.tag_input_active:focus::placeholder {
    color: transparent;
}

.hidden {
    display: none;
}

.tag_search_container {
    top: 0;
    left: -280px;
    position: absolute;
    width: 250px;
    height: 340px;
    overflow: auto;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px 10px;
}

.tag_search_box {
    display: flex;
    margin-bottom: 10px;
}

.tag_search_icon {
    margin-right: 5px;
    font-size: 40px;
}

.tag_search_txt_box {
    display: flex;
    width: 250px;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.tag_search_txt {
    display: block;
    max-width: 230px;
    font-weight: 500;
    font-size: 14px;
}

.tag_search_total_txt {
    color: gray;
    font-size: 13px;
}