.container {
    display: flex;
    align-items: center;
}

.select_box {
    width: 80px;
    height: 30px;
    border: 1px solid #eff0f2;
    margin-right: 5px;
}

.search_box {
    position: relative;
    display: flex;
    align-items: center;
    width: 250px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #e4e7e8;
    padding: 0 5px;
}

.search_input {
    flex: 1;
    height: 100%;
    border: none;
    border-radius: 3px;
}

.search_icon {
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .container {
        width: 95%;
        justify-content: center;
        background-color: #eff0f2;
        height: 40px;
        border-radius: 8px;
        margin-top: 10px;
        z-index: 2;
    }
    .select_box {
        border: none;
        flex: 1;
        width: auto;
        background-color: transparent;
        height: 40px;
    }
    .search_box {
        position: initial;
        background-color: transparent;
        flex: 4;
        width: auto;
        height: 40px;
        border: none;
    }
    .search_input {
        background-color: transparent;;
    }
}
