.container {
    width: 70%;
    max-width: 1080px;
    height: 100%;
}

.search_box {
    display: flex;
    width:100%;
    padding: 15px;
    flex-direction: column;
    line-height: 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    background-color: #fff;
    border-radius: 10px;
}

.list_top{
    display: flex;
    width:100%;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

.num{
    width:10%;
    font-size:0.8rem;
    font-weight: bold;
    margin-left:20px;
}

.board_title{
    width:50%;
}

.board_title_text{
    cursor:pointer;
}

.board_id{
    width:12%;
    font-size:0.8rem;
    opacity: 1;
    margin-left:10px;
}

.board_date{
    width:10%;
    font-size:0.8rem;
}

.recommend{
    line-height: 40px;
    margin-left: 40px;
    font-size: 0.8rem;
}
