.form {
    display: flex;
    width: calc(100% - 50px);
    min-height: 35px;
    background-color: #fff;
    border: 1px solid #8729ff;
    border-radius: 18px;
}

.input {
    padding: 8px 15px;
    width: 90%;
    height: 35px;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 18px;
    background: transparent;
}

.input_btn {
    border: none;
    background: transparent;
    font-size: 12px;
    letter-spacing: 1px;
    color: gray;
}

.input_btn:enabled {
    border: none;
    background: transparent;
    font-size: 12px;
    letter-spacing: 1px;
    color: black;
}
