.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    width: max-content;
    height: 40px;
    margin-bottom: 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #fff;
    font-size: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0, 0.2);
    cursor: pointer;
}

.like_txt {
    font-weight: 500;
    display: none;
}

.like_number_txt {
    font-weight: 500;
    user-select: none;
}

@media screen and (max-width: 768px){
    .container {
        margin-bottom: 0;
        border: none;
        box-shadow: none;
        margin-right: 5px;
    }
    .like_txt {
        display: inline-block;
    }
}
