.container {
    width: 100%;
    max-height: 630px;
}

.modal_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    max-height: 630px;
}

.hide {
    width: 100%;
    max-height: 630px;
    animation: fadeOut 0.6s;
    animation-fill-mode: forwards;
}

.test_box {
    width: 100%;
}

.test_box > span {
    position: unset !important;
}

.img {
    width: 100% !important;
    height: unset !important;
    max-height: 600px !important;
    position: relative !important;
    border-top-left-radius: 0.32rem;
    user-select: none;
    object-fit: contain;
}

@keyframes fadeOut {
    from {
        height: 580px;
        visibility: visible;
        opacity: 0;
    }
    to {
        height: 0px;
        visibility: hidden;
        opacity: 0;
        display: none;
    }
}

.next_arrow {
    color: red;
}

@media screen and (max-width: 1080px){
    .modal_container {
        display: block;
    }
}

@media screen and (max-width: 768px){
    .img {
        border-radius: 0;
    }
}