.container {
    position: relative;
    display: flex;
    margin-bottom: 5px;
}

.container_reply {
    position: relative;
    display: flex;
    margin-bottom: 5px;
    background-color: #f9f5ff;
    border-radius: 12px;
    padding: 5px 10px;
}

.reply_content_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.reply_main_box {
    display: flex;
}

.text_box {
    max-width: 400px;
}

.reply_txt {
    display: block;
    font-size: 14px;
    max-width: 400px;
}

.bottom_box {
    display: flex;
    margin-top: 3px;
    text-align: start;
    height: 20px;
}

.show_reply_txt {
    color: #8729ff;
    font-size: 12px;
    margin-right: 5px;
    cursor: pointer;
    user-select: none;
    font-weight: 500;
    height: 16px;
}

.show_reply_txt:hover {
    border-bottom: 1px solid #8729ff;
}

.like_icon {
    cursor: pointer;
    font-size: 15px;
}

.like_txt {
    color: gray;
    font-size: 12px;
}

.add_reply_txt {
    font-size: 12px;
    margin-right: 5px;
    cursor: pointer;
    user-select: none;
    color: gray;
}

.add_reply_txt:hover {
    color: black;
}

.date_txt {
    margin-left: auto;
    color: gray;
    font-size: 12px;
}

.sub_menu_icon {
    color: gray;
    margin-left: auto;
    cursor: pointer;
    transform: translateY(-50%);
}

.sub_menu_icon:hover{
    color: black;
    margin-left: auto;
    cursor: pointer;
    transform: translateY(-50%);
}

.reply_add_box {
    width: 100%;
    margin-bottom: 5px;
}

.userTag_txt {
    display: inline-block;
    font-size: 14px;
    color: #8729ff;
    margin-right: 5px;
}
