.container {
    display: flex;
    margin-bottom: 5px;
}

.user_txt {
    font-size: 14px;
    margin-right: 10px;
    font-weight: 500;
}

.reply_txt {
    font-size: 14px;
}

.sub_box {
    display: flex;
    margin-left: auto;
}

.bottom_box {
    display: flex;
}

.show_reply_txt {
    color: gray;
    font-size: 12px;
    margin-right: 5px;
    cursor: pointer;
}

.like_icon {
    cursor: pointer;
    font-size: 15px;
}

.like_txt {
    color: gray;
    font-size: 12px;
}

.reply_icon {
    font-size: 15px;
    margin-right: 5px;
    cursor: pointer;
}

.date_txt {
    color: gray;
    font-size: 12px;
}

.reply_add_box {
    width: 400px;
}
