.container {
    padding: 15px 15px 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    /*box-shadow: 0 1px 2px rgba(0,0,0, 0.2);*/
}

.reply_box {
    height: auto;
    max-height: 370px;
    overflow: auto;
}

.reply_more_txt {
    display: inline-block;
    font-size: 12px;
    color: gray;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 10px;
}

.blank_reply_more_txt {
    display: inline-block;
    height: 31px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #bdbdbd;
}

.modal_reply_input_box {
    position: absolute;
    width: 90%;
    bottom: 0;
}
