.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 600px;
    height: auto;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0, 0.5);
}

.container_modal {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    background-color: white;
}

.item_main_box {
    position: relative;
    width: 100%;
}

.lock_box {
    display: flex;
    align-items: center;
    padding: 0 15px 10px;
    opacity: 0.3;
    user-select: none;
    font-size: 14px;
}

.lock_icon {
}

.lock_txt {
}

@media screen and (max-width: 1080px){
    .container_modal {
        flex-direction: column;
        box-shadow: none;
        flex: 1;
    }
    .item_main_box {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}

@media screen and (max-width: 1080px){
    .container_modal {
        margin-top: 45px;
    }
}

@media screen and (max-width: 768px){
    .container {
        border-radius: 0;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 480px){
    .container {
        box-shadow: none;
        margin: 0;
        border-bottom: 15px solid #f4f4f4;
    }
}
