.container {
    width: 100%;
    max-height: 630px;
}

.modal_container {
    width: 100%;
    max-width: 600px;
    max-height: 630px;
}

.hide {
    width: 100%;
    max-height: 630px;
    animation: fadeOut 0.6s;
    animation-fill-mode: forwards;
}

.img {
    width: 100%;
    max-height: 600px;
    border-top-left-radius: 0.32rem;
    user-select: none;
    object-fit: contain;
}

@keyframes fadeOut {
    from {
        height: 580px;
        visibility: visible;
        opacity: 0;
    }
    to {
        height: 0px;
        visibility: hidden;
        opacity: 0;
        display: none;
    }
}

.next_arrow {
    color: red;
}

@media screen and (max-width: 768px){
    .img {
        border-radius: 0;
    }
}