.container {
    padding: 15px 15px 0;
}

.user_box {
    display: flex;
    height: 40px;
    align-items: center;
}

.user_sub_box {
}

.img_box {
    display: flex;
    height: 40px;
    align-items: center;
}

.img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #8729ff;
}

.main_txt {
    width: 450px;
    margin : 5px 0 10px;
    font-size: 14px;
    max-height: 400px;
}

.content_txt {
    display: block;
}

.content_more_btn {
    font-size: 12px;
    color : gray;
    cursor: pointer;
    font-weight: 500;
}

.content_more_btn:hover {
    color: black;
}

.tag_box {
    font-size: 13px;
    color : white;
    margin-bottom: 5px;
}

.tag_txt {
    line-height: 30px;
    padding: 5px 7px;
    border-radius: 12px;
    background-color: #8729ff;
    margin-right: 5px;
    user-select: none;
    cursor: pointer;
}

.time_txt {
    display: inherit;
    font-size: 12px;
    color : gray;
}