.container{
    background-color: #f0f2f5;
}

.container_white {
    background-color: #fff;
}

.main_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    min-height: 100vh;
}
