.home_container {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #f0f2f5;
}

.main_container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 81px 60px 30px;
    margin-top: 30px;
}

.write_container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 110px;
}

@media screen and (max-width: 768px){
    .home_container {
        background-color: #fff;
    }
    .main_container {
        padding: 55px 0 45px 0;
        margin-top: 0;
    }
}
