.main_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    width: 100%;
    min-height: 500px;
    background-color: #e6f3e6;
}

.sub_box {
    display: flex;
    justify-content: space-between;
    max-width: 1040px;
    width: 100%;
    padding: 0 20px;
}

.content_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt_box {
    display: flex;
    flex-direction: column;
}

.main_txt {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: -1px;
    width: auto;
}

.sub_txt {
}

.main_txt_right {
    margin-left: auto;
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: -0.5px;
    width: auto;
}

.sub_txt_right {
    display: inline-block;
    margin-left: auto;
}

.feed_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 500px;
    background-color: white;
}

.board_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 500px;
    background-color: #bbecfa;
}

.link_btn {
    width: 125px;
    height: 40px;
    background-color: #f1f3f5;
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.link_btn:hover {
    background-color: #e2e4e5;
}

@media screen and (max-width: 768px){
    .sub_box {
        justify-content: center;
        align-items: center;
    }
    .main_txt {
        font-size: 2.0rem;
        text-align: center;
    }
    .sub_txt {
        text-align: center;
    }
    .txt_box {
        align-items: center;
    }
}