.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #F4F4F4;
}

.container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 100%;
}

.logo_txt {
    display: block;
    font-weight: bold;
    font-size: 2.5em;
    margin: 20px 0 40px 0;
}

.login_box {
    width: 300px;
}

.input {
    display: inline-block;
    font-size: 15px;
    border: #dadada 1px solid;
    outline-color: cornflowerblue;
    padding: 2px 10px;
    margin-bottom: 15px;
    width: 100%;
    height: 50px;
    appearance: none;
}

.login_btn {
    width: 100%;
    height: 50px;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background-color: cornflowerblue;
    border: none;
    outline: none;
    padding: 0;
    margin-bottom: 5px;
    cursor: pointer;
}

.link_box {
    display: flex;
    justify-content: space-between;
}

.link_txt {
    font-size: 12px;
    color: gray;
    cursor: pointer;
}

.divider {
    width: 300px;
    height: 2px;
    margin: 20px 0;
    background-color: #000;
}

.sns_box {
    width: 300px;
}

.sns_login_txt {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: bold;

}

.kakao_login_btn {
    display: inline-block;
    margin-top: 15px;
    text-align: center;
    line-height: 50px;
    width: 100%;
    height: 50px;
    background-color: #F6DB48;
    border-radius: 0.32rem;
    font-weight: bold;
    font-size: 14px;
    color: black;
    cursor: pointer;
}

.naver_login_btn {
    display: inline-block;
    margin-top: 15px;
    text-align: center;
    line-height: 50px;
    width: 100%;
    height: 50px;
    background-color: #3CD95E;
    border-radius: 0.32rem;
    font-weight: bold;
    font-size: 14px;
    color: white;
    cursor: pointer;
}