.container {
    width: 350px;
    height: 100%;
    border: 1px solid black;
    border-radius: 0.32rem;
    background-color: #fff;
    margin-right: 50px;
}

.chatRoom_title_txt {
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: 500;
    user-select: none;
    border-bottom: 1px solid black;
}

.chatItem_box {
    height: calc(100% - 50px);
    overflow: auto;
}
