.container {
    display: flex;
    flex-direction: column;
}

.date_divider {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: 500;
    color: gray;
    text-align: center;
    user-select: none;
}

.blank_img {
    width: 45px;
}

.my_message_box {
    margin-left: auto;
    display: flex;
}

.my_message_txt {
    width: auto;
    max-width: 300px;
    display: inline-block;
    background-color: #9847fd;
    padding: 10px 15px;
    border-radius: 22px;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    margin-right: auto;
    margin-bottom: 5px;
}

.message_sub_box {
    display: flex;
    margin-top: auto;
    margin-bottom: 5px;
}

.my_time_txt {
    color: gray;
    font-size: 12px;
    margin-right: 5px;
}

.my_read_txt {
    font-size: 12px;
    font-weight: 500;
    margin-right: 5px;
}

.flex_box {
    display: flex;
}

.message_box {
    display: flex;
}

.message_txt {
    width: auto;
    max-width: 300px;
    display: inline-block;
    background-color: cornflowerblue;
    padding: 10px 15px;
    border-radius: 22px;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.time_txt {
    color: gray;
    font-size: 12px;
    margin-right: 5px;
}

.read_icon {
    color: #ff6969;
    font-size: 12px;
}

.divider {
    width: 100%;
    height: 15px;
}
