.container {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 40px;
    max-height: 50px;
    align-content: stretch;
    height: max-content;
}

.form {
    display: flex;
    align-items: center;
    padding: 0 5px 0 20px;
    /*background-color: #f0f2f5;*/
    border: 1px solid #e0e1e3;
    width: 90%;
    min-height: 40px;
    border-radius: 18px;
}

.input {
    flex: 1;
    height: 40px;
    max-height: 50px;
    overflow: auto;
    border: none;
    margin-right: 5px;
    background-color: transparent;
    font-size: 14px;
    padding: 10px 0;
}

.send_button:enabled {
    color: black
}

.icon_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #8729ff;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .form {
        width: 95%;
    }
}
