.container {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 40px;
    max-height: 50px;
    align-content: stretch;
    height: max-content;
}

.form {
    padding: 0px 20px;
    display: flex;
    align-items: center;
    /*background-color: #f0f2f5;*/
    border: 1px solid #8729ff;
    width: 90%;
    min-height: 40px;
    border-radius: 18px;
}

.input {
    flex: 1;
    height: 30px;
    max-height: 50px;
    overflow: auto;
    border: none;
    margin-right: 5px;
    background-color: transparent;
    padding: 8px 0;
}

.send_button:enabled {
    color: black
}
